name: Publish

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  Publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required for GitVersion

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v3.0.0
        with:
          versionSpec: 5.x

      - name: Determine Version
        id: determine
        uses: gittools/actions/gitversion/execute@v3.0.0
        with:
          useConfigFile: true

      - name: Install Dependencies
        run: |
          set -eax

          pip3 install --user -U west

      - name: Setup West
        shell: bash
        run: |
          set -eax

          west init -l config
          west update --fetch-opt=--filter=blob:none
          west zephyr-export

      - name: Build
        shell: bash
        run: |
          set -eax

          build_dir_base=".build"
          board="nice_nano_v2"
          shield_base="corne"
          shield_extras="nice_view_adapter nice_epaper"

          west build -s zmk/app -d $build_dir_base/left  -b $board $board -- -DZMK_CONFIG=config -DSHIELD="${shield_base}_left  $shield_extras"
          west build -s zmk/app -d $build_dir_base/right -b $board $board -- -DZMK_CONFIG=config -DSHIELD="${shield_base}_right $shield_extras"
