name: Publish

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  Publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout - Self
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required for GitVersion

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v3.0.0
        with:
          versionSpec: 5.x

      - name: Determine Version
        id: determine
        uses: gittools/actions/gitversion/execute@v3.0.0
        with:
          useConfigFile: true

      - name: Install Dependencies
        run: |
          # sudo apt-get update
          sudo apt-get install -y just
          pip3 install --user -U west

      - name: Build
        shell: bash
        run: just build
