name: Publish

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  Publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout - Self
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required for GitVersion

      # - name: Install GitVersion
      #   uses: gittools/actions/gitversion/setup@v4.1.0

      - name: Determine Version
        id: determine
        uses: gittools/actions/gitversion/execute@v4.1.0

      - name: Build
        shell: bash
        run: just build
